body {
	font-family: Sans-Serif;
	padding: 0px;  
}

/*logo styling*/
header img{
	width: 300px;
	height: auto;

}

/*navbar styling*/

.nav {
	text-align: center;
	margin-bottom:20px;
}

.nav a{
	text-decoration: none;
	color: black;
	font-weight: 700;
}

.nav a.selected{
	background-color:yellow;
}

.content img {
	border: solid;
}

/*gallery styling*/
.content{
	margin-left: auto;
	margin-right: auto;
	padding:20px;

}

h1{
	text-align: center;
}

.item{
	padding: 30px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;

}

.item img{
	width: 300px;
	height: auto;
	
}

.item a{
	color: black;
}

.item:hover{
	background:yellow;
}