body {
	font-family: Sans-Serif;
	padding: 0px;
	margin-bottom: 50px;  

}

/*logo styling*/
header img{
	width: 300px;
	height: auto;
	border:none;

}

/*navbar styling*/

.nav {
	text-align: center;
	margin-bottom:50px;
}

.nav a{
	text-decoration: none;
	color: black;
}

.nav a.selected{
	background-color:yellow;
	font-weight: 700;
}

h1{
	text-align: center;
	font-weight: 400;
	margin-bottom: 30px;
	font-size: 25px;
}

img{
	border:solid;
}

/*gallery styling*/

.item{
	padding: 30px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;

}

.item img{
	width: 300px;
	height: auto;
	
}

.item a{
	color: black;
}

.item:hover{
	background:yellow;
}

.item:hover a{
	font-weight: 700;
}

/*details page styling*/

.item-details{
	width: 400px;
	margin-left: auto;
	margin-right: auto;

}

.item-details img{
	width: 400px;
	height: auto;
}

.item-details .custom{
	width: 200px;
	margin-left: auto;
	margin-right: auto;

}

.item-details form{
	padding-bottom: 10px;
}

select{
	width: 200px;
}

.price-info{
	margin-top: 50px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

.price-info p{
	display: inline;
	width: 200px;
	font-weight: 700;
	padding: 10px;
}

.price-info .button{
	border: solid;
	background-color: yellow;
	padding: 5px 20px 5px 20px; 
}
